<h1>新規投稿</h1>
<%= form_with model: @list, url: todolists_path(@list.id), local: true do |f| %>
  <div> 
    <h4>タイトル</h4>
    <%= f.text_field :title %>
  </div>
  <div> 
    <h4>本文</h4>
    <%= f.text_area :body  %>
  </div>
  <div>
    <h4>画像</h4>
    <%= f.attachment_field :image %>
  </div>
  <div>
    <%= f.submit '投稿'  %>
  </div>
<% end %>