<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href=">
  </head>

  <body>
    <header>
      <h1 class="headline">All Lists</h1>
    </header>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <%= link_to "Top", root_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "TodoLists", todolists_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "New List", new_todolist_path %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
